
$theme-colors: (
    "primary": rgb(61, 201, 147),
    "secondary": rgb(23,162,184),
  );

$primary: rgb(61, 201, 147);
$secondary: rgb(23,162,184);
$tooltip-color: $primary;
$tooltip-bg: white;

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Optionals
@import "bootstrap/scss/alert";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/close";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/type";
@import "bootstrap/scss/utilities";


body {
    font-family: $font-family-monospace;

    // Remove gutter bootstrap grid gutter for logout/archive columns
    @media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm)){
        .row > .col,
        .row > [class*="col-"] {
            padding-right: 10px;
            padding-left: 10px;
        }
        
        .row > .col #archived {
          padding-right: 0px;
        }
        .row > [class*="text-right"] {
            padding-left: 0px;
        }
    }
    a {
        color: $link-color;
        text-decoration: none;
    }
    a:hover {
        color: $link-hover-color;
    }
    a:visited {
        color: darken($link-color, 20%);
    }
    h2, h4, h6 {
        margin-bottom: $spacer;
        color: $gray-600;
    }
    .banner {
        width: 100%;
        margin: 0;
        background: $primary;
    }
    .brand {
        color: white;
        font-weight: bold;
        letter-spacing: 4px;
        padding: $spacer 0;
    }
    .user-email {
        font-size: small;
        color: $gray-600;
        display: inline-block;
        border: 1px solid $primary;
        border-radius: $border-radius-sm;
        padding: 5px;
    }
    form, textarea {
        margin-bottom: ($spacer * .75);
    }
    #alert-box {
        ul {
            list-style-type: none;
        }
    }
    .btn .badge-primary {
        top: -2px;
        color: $primary;
        background: transparent;
        border: 1px solid $primary;
    }
    .tooltip-main, .tooltip-inner {
        border: 1px solid rgba(61, 201, 147,0.8);
        font-size: x-small;
    }
    .btn:hover .badge-primary {
        color: black;
        border: 1px solid black;
    }
    #emails-view {    

        .row {
            margin-left: 0;
            margin-right:0;
            color: $gray-600;
            padding: 10px;
        }
        .unread.email-detail {
            color: $primary;
            font-weight: bold;
            background: rgb(253, 253, 253);
            opacity: 0.9;
        }
        .email-detail {
            width: 100%;
            border: 1px solid $primary;
            border-radius: $border-radius-sm;
            background: rgba(126, 196, 206, 0.2);
            opacity: 0.7;
        }
        .email-detail:hover, .unread.email-detail:hover {
            background: rgba(210, 249, 255, 0.6);
            opacity: 0.9;
            cursor: pointer;
        }
    }
    
    .small, .small p {
        font-size: small;
        margin-bottom: 0.2rem;
    }

    .email-info {
        background: rgba(210, 249, 255, 0.3);
        color: $primary;
    }

    #modal-body {
        font-size: $font-size-sm;
    }
}

/* FADE IN FADE OUT */

.fade-in {
    animation: fade-in linear 0.5s;
    -moz-transition: fade-in 0.5s linear;
    -o-transition: fade-in 0.5s linear;
    -webkit-transition: fade-in 0.5s linear;
    transition: fade-in 0.5s linear;
}

@keyframes fade-in {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fade-in {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fade-in {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fade-in {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fade-in {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

/* L O A D E R */
/* https://nzbin.github.io/three-dots/ */

.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30% 0;
    margin: 0 -5%;
    overflow: hidden;
  }

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $primary;
    color: $primary;
    box-shadow: 9999px 0 0 -5px $primary;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
  }
  
  .dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $primary;
    color: $primary;
  }
  
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px $primary;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
  }
  
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px $primary;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
  }
  
  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px $primary;
    }
    30% {
      box-shadow: 9984px 0 0 2px $primary;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px $primary;
    }
  }
  
  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px $primary;
    }
    30% {
      box-shadow: 9999px 0 0 2px $primary;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px $primary;
    }
  }
  
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px $primary;
    }
    30% {
      box-shadow: 10014px 0 0 2px $primary;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px $primary;
    }
  }